<html>
	<head>
		<title>enPIT groupA演習</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>楽天 vs XXX</hq>
			<form method="get" action="/result">
			<div class="form-group">
			    <label class="sr-only" for="search_keyword">検索キーワード：</label>
			    <input type="text" class="form-control" id="search_keyword" name="input[keyword]" placeholder="キーワード">
		    		</div>
			</form>
		</div>
	</body>
</html>
