<html>
	<head>
		<title>enPIT groupA演習</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>楽天市場 vs Yahooショッピング ～安いのはどっちだ～</h1>
			<form method="get" action="/result">
			<div class="form-group">
			    <label class="sr-only" for="search_keyword">検索キーワード：</label>
			    <input type="text" class="form-control" id="search_keyword" name="input[keyword]" placeholder="キーワード">
		    		</div>
			</form>
		</div>
		<div id="footer" style="width:311px;margin:0 auto;">
		<!-- Rakuten Web Services Attribution Snippet FROM HERE -->
<a href="http://webservice.rakuten.co.jp/" target="_blank"><img src="http://webservice.rakuten.co.jp/img/credit/200709/credit_31130.gif" border="0" alt="楽天ウェブサービスセンター" title="楽天ウェブサービスセンター" width="311" height="30"/></a>
<!-- Rakuten Web Services Attribution Snippet TO HERE -->
		</div>
	</body>
</html>
